<div class="position-relative overflow-hidden p-6 p-md-5 text-center" id="book-place">
    <div class="col-md-8 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Йога-девичник для вас, если вы:</h1>
        <ul class="list-group">
            <li>хотите найти источник сил в самой себе, открыв новые возможности своего тела;</li>
            <li>готовы выйти из режима автопилота и пойти по миру с широко открытыми глазами;</li>
            <li>решили стать более осознанным как в занятиях йогой, так и в повседневной жизни.</li>
        </ul>

        <div class="book-in-modal-btn-wrapper">
            <button type="button" class="btn btn-dark btn-lg">
                Забронировать место
            </button>
        </div>
    </div>
</div>