#speakers {
  & > h2 {
    text-align: center;
    padding: 5.2rem 0;
    font-size: 3rem;
  }

  h2 {
    font-weight: 400;
  }

  .speakers {
    text-align: center;
    hr {
      margin: 5rem 0;
      border-top: 1px solid white;
      width: 70%;
      display: inline-block;
      text-align: right;

      &:first-child {
        display: none;
      }

      &:last-of-type {
        & + div {
          padding-bottom: 3rem;
        }
      }
    }

    & > .teacher {
      &:nth-child(4) {
        flex-direction: row-reverse;
      }
    }
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 4rem;
  }
}
@media (min-width: 52em) {
  .featurette-heading {
    margin-top: 1rem;
  }
}
@media (min-width: 45em) {
  .featurette-heading {
    font-size: 50px;
  }
}