main {
  margin-top: 5rem;

  & > div {
    &#tour {
      background-color: transparent;
    }
  }

  div {
    ul {
      list-style-type: none;

      li {
        button {
          color: black !important;
        }
      }
    }
  }
}