<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top site-header" id="navbar-example">
    <a class="navbar-brand" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="flex-column flex-md-row justify-content-between collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav flex-md-row justify-content-around">
            <li class="nav-item">
                <a class="nav-link py-2 d-md-inline-block" href="#about">О йога-девичнике</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-2 d-md-inline-block" href="#event">Программа</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-2 d-md-inline-block" href="#speakers">Преподаватели</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-2 d-md-inline-block" href="#book-place">Забронировать место</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-2 d-md-inline-block" href="#contacts">Контакты</a>
            </li>
        </ul>
        <div class="phone">
            <span>Телефоны для связи:</span>
            <span>+7-(982)-828-44-05</span>
        </div>
    </div>
</nav>
