<div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light" id="event">
    <div class="p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal animated">Программа мероприятия:</h1>
        <div class="d-md-flex flex-md-equal w-100 my-3">

            <div class="animated">
                <img class="img-fluid mx-md-3 my-3 p-md-4" src="../../../images/hatha.jpg" alt="hatha" >
                <div>
                    <button class="btn btn-outline-secondary black" type="button" data-toggle="collapse" data-target="#hatha" aria-expanded="false" aria-controls="collapseExample">
                        10:00-11:30 Хатха-йога
                    </button>
                </div>
                <div class="collapse m-3" id="hatha">
                    <div class="card card-body">
                        Хатха-йога — это древняя индийская духовная практика, учение о физической гармонии. Главным образом практика хатха-йоги состоит в выполнении асан, статических поз в комплексе с дыханием и концентрацией внимания.Основной аспект хатха-йоги — это развитие гибкости и поддержание здоровья суставов, особенно позвоночника.
                    </div>
                </div>
            </div>

            <div class="animated">
                <img class="img-fluid mx-md-3 my-3 p-md-4" src="../../../images/nidra.jpg" alt="hatha" >
                <div>
                    <button class="btn btn-outline-secondary black" type="button" data-toggle="collapse" data-target="#nidra" aria-expanded="false" aria-controls="collapseExample">
                        11:30-13:00 Йога-нидра
                    </button>
                </div>
                <div class="collapse m-3" id="nidra">
                    <div class="card card-body">
                        Йога-Нидра – это сон во время бодрствования, который часто называют психическим сном или сном йогов. Это глубокая медитативная техника, которая направлена на максимальное расслабление тела, разума и души.  Во время Йога-Нидры человек очищает свое энергетическое тело и это позволяет направить все потоки на реализацию того самого заветного желания.
                    </div>
                </div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-3">
            <div class="animated">
                <img class="img-fluid mx-md-3 my-3 p-md-4" src="../../../images/lanch.jpg" alt="hatha" >
                <div>
                    <button class="btn btn-outline-secondary black" type="button" data-toggle="collapse" data-target="#dinner" aria-expanded="false" aria-controls="collapseExample">
                        13:00-13:30 Ланч
                    </button>
                </div>
                <div class="collapse m-3" id="dinner">
                    <div class="card card-body">
                        Легкий вегетарианский перекус.
                    </div>
                </div>
            </div>


            <div class="animated">
                <img class="img-fluid mx-md-3 my-3 p-md-4" src="../../../images/soft.jpg" alt="hatha" >
                <div>
                    <button class="btn btn-outline-secondary black" type="button" data-toggle="collapse" data-target="#soft" aria-expanded="false" aria-controls="collapseExample">
                        13:30-15:00 Мягкая практика
                    </button>
                </div>
                <div class="collapse m-3" id="soft">
                    <div class="card card-body">
                        Мягкая практика - это мягкая, медленная иньская практика. Ее целью является расслабление и более глубокая проработка мышц, тканей, а многие позы нацелены на проработку какого- то сустава. Иньйога – это прекрасный способ сохранить и восстановить гибкость и подвижность суставов!
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
