footer {
  .icon-top-wrap {
    i {
      font-size: 1.2em;
      color: black;

      &:hover {
        color: #747474;
      }
    }
  }
  & > div {
    font-size: 0.8em;

    & > div {
      font-size: 0.9em;
    }
  }

  .mk-ctcts {
    width: 220px;
  }

  button {
    .black {
      color: #000;
    }
  }
}