main {
  margin-top: 5rem;

  & > div {
    &#tour {
      background-color: transparent;
    }
  }

  div {
    ul {
      list-style-type: none;

      li {
        button {
          color: black !important;
        }
      }
    }
  }

  #about {
    background: url("../../../images/bg4.jpg") 100% no-repeat;
  }
  #event {

  }
}