main {
  margin-top: 5rem;

  & > div {
    &#tour {
      background-color: transparent;
    }
  }

  div {
    ul {
      list-style-type: none;

      li {
        button {
          color: black !important;
        }
      }
    }
  }

  #about {
    background: url("../../../images/bg5.jpg") 50% 60% no-repeat;
  }

  #event {
    .display-4 {
      font-size: 3rem;
    }
  }

  li {
    [data-toggle="collapse"] {
      font-size: 1.25em;
    }
  }
}