<div class="position-relative overflow-hidden p-6 p-md-5 text-center" id="for-who">
    <div class="col-md-11 p-lg-5 mx-auto my-5 animated">
        <h1 class="display-4 font-weight-normal">Йога-девичник для вас, если вы*:</h1>
        <div class="d-md-flex flex-md-equal w-100 my-3 custom-list">
            <div>Хотите найти источник сил в самой себе, открыв новые возможности своего тела</div>
            <div>Готовы выйти из режима автопилота и пойти по миру с широко открытыми глазами</div>
            <div>Решили стать более осознанным как в занятиях йогой, так и в повседневной жизни</div>
        </div>
        <br>
        <br>
        <br>
        <div class="mt-5 font-weight-bold">
            * Благодаря индивидуальному подходу в работе инструкторов, программа йога-девичника одинакова полезна как практикующим йогу, так и новичкам в этой области.
        </div>
    </div>
</div>